:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}
#seif {
    background-color:var(--bs-cyan);
    color:var(--bs-white);
}
#seif ul li a{
    color:var(--bs-white);
    transition: 0.5s;
}
#seif ul li a:hover{
    color:var(--bs-gray);
}
.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:9% 0;
}
.hero-subtitle{
    font-weight: 900;
    font-style: italic;
    padding:10px;
}
.hero-title h2{
    padding:10px;
    font-size: 50px;
}
.hero-button a{
    text-decoration: none;
    border: 1px solid var(--bs-cyan);
    border-radius: 35px;
    padding:14px 48px;
    color:var(--bs-cyan);
    transition:1s;
}
.hero-button a:hover{
    background-color: var(--bs-cyan);
    color:var(--bs-white);
}
.hero-button{
    margin:20px 0;
}


.carousel-caption{
    position:absolute;
    top:0;
}
.slider img{
    height: calc(100vh - 63px);
}
.explore{
    background-color: var(--bs-white);
    border-radius: 25px;
    justify-content:center; 
    align-items:center;
}
#bi-globe, #bi-person, #bi-house-door-fill{
    scale: 1;
    border:1px solid var(--bs-cyan);
    border-radius:50%;
    padding:5px;
}





.section-one{
    width: 35%;
    padding:80px 0;
}
.image-id img{
    width: 100%;
    height: 275px;
    border-radius:20px;
}
.country-name{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.country-name .button a{
    text-decoration:none;
    padding:10px 25px;
    border-radius:35px;
    color:var(--bs-white);
    background-color:var(--bs-cyan);
}

.section-three,.section-four{
    margin-bottom: 20px;
}
.section-three{
    margin:10px 0;
    padding:10px 0;
    border-top: 1px solid var(--bs-white) ;
    border-bottom: 1px solid var(--bs-white) ;
}

#section-two,#section-three,#section-four{
    margin:5px 0;
    padding:5px 0;
    border-top: 1px solid var(--bs-secondary);
    border-bottom: 1px solid var(--bs-secondary);
}
.section-footer{
    display:flex;
    justify-content:space-between;
}
.main-footer{
    justify-content:space-between;
    align-items:center;
    padding:50px 0;}
.footer{
    background:url(./seif/images/cta-bg.jpg) no-repeat  top right/cover;
    color:var(--bs-white) ;
}
.button-footer a{
    text-decoration: none;
    border: 1px solid var(--bs-white);
    border-radius: 35px;
    color:var(--bs-white);
    padding:10px 25px;
}

.button-footer a:hover{
    border: 1px solid var(--bs-primary);
    color:var(--bs-primary);
    background-color:var(--bs-white);

}
.button-footer{
    padding:15px 0;
}
.content-footer{
    background-color:var(--bs-primary);
    color:var(--bs-white);
    padding:15px 0;
}

.slider .carousel-indicators button{
    height:50px;
    width:50px;
    margin:0 10px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border:3px solid transparent;
    transition: all 0.5s ease;
    opacity: 0.7;
}
.slider .carousel-indicators button.active {
    border-color: #ffffff;
    opacity: 1;
    transform: scale(1.2);
}
.slider .carousel-indicators button:hover {
    border-color: transparent;
    opacity: 0.8;
    transform: scale(0.8);
}
@media only screen and (min-width:300px){
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 77vh;
    }
}
@media only screen and (min-width:600px){
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 78vh;
    }}
@media only screen and (min-width:700px){
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 78vh;
    }}
@media only screen and (min-width:800px){
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 80vh;
    }}
@media only screen and (min-width:900px){
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 100vh;
    }
        .slider .carousel-indicators button{
            height:80px;
            width:80px;
            margin:0 10px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            border:3px solid transparent;
            transition: all 0.5s ease;
            opacity: 0.8;
        }
        .slider .carousel-indicators button.active {
            border-color: #ffffff;
            opacity: 1;
            transform: scale(1.2);
        }
}